@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-TMWbJRZ3JQ3g: 16px;
  --plasmic-token-h-2: var(--token-TMWbJRZ3JQ3g);
  --token-iSB4sDWi7J33: #2a2b37;
  --plasmic-token-neutral-900: var(--token-iSB4sDWi7J33);
  --token-mIG78lQX6vkL: #383848;
  --plasmic-token-neutral-800: var(--token-mIG78lQX6vkL);
  --token-Hr_KNEfib53W: #48485c;
  --plasmic-token-neutral-700: var(--token-Hr_KNEfib53W);
  --token-3296jq7TkNE2: #5c5d76;
  --plasmic-token-neutral-600: var(--token-3296jq7TkNE2);
  --token-mUVZwB5NR00e: #656682;
  --plasmic-token-neutral-500: var(--token-mUVZwB5NR00e);
  --token-d_Ix7FoeWVDU: #84859b;
  --plasmic-token-neutral-400: var(--token-d_Ix7FoeWVDU);
  --token-6_hHueX3aHJM: #9898ab;
  --plasmic-token-neutral-300: var(--token-6_hHueX3aHJM);
  --token-y0aSp2b-09CY: #b8b9c6;
  --plasmic-token-neutral-200: var(--token-y0aSp2b-09CY);
  --token-WlnYLaSwddh5: #cfd0d8;
  --plasmic-token-neutral-100: var(--token-WlnYLaSwddh5);
  --token-l3I0epb4_DdI: #f0f0f3;
  --plasmic-token-neutral-050: var(--token-l3I0epb4_DdI);
  --token-Bf480VqiXRDF: 14px;
  --plasmic-token-body-small: var(--token-Bf480VqiXRDF);
  --token-jN9MljiNR8S-: 20px;
  --plasmic-token-body-small-2: var(--token-jN9MljiNR8S-);
  --token-6UJ64LOQ0CV-: #01471e;
  --plasmic-token-success-text: var(--token-6UJ64LOQ0CV-);
  --token-Psi5L_8XlJ5m: #dffbea;
  --plasmic-token-success-bg: var(--token-Psi5L_8XlJ5m);
  --token-rvyIoCUpz82e: #aff5cb;
  --plasmic-token-success-200: var(--token-rvyIoCUpz82e);
  --token-hh4ryAetEydc: #87efb1;
  --plasmic-token-success-300: var(--token-hh4ryAetEydc);
  --token-mHms-uGWvFXR: #5fea97;
  --plasmic-token-success-400: var(--token-mHms-uGWvFXR);
  --token-ljWHk83Sn0gL: #37e57d;
  --plasmic-token-success-500: var(--token-ljWHk83Sn0gL);
  --token-TZy46VXmU5Pz: #24bf63;
  --plasmic-token-success-600: var(--token-TZy46VXmU5Pz);
  --token-pNdCn_Ha5S60: #159649;
  --plasmic-token-success-700: var(--token-pNdCn_Ha5S60);
  --token-cMmEx96bwumz: #096e32;
  --plasmic-token-success-800: var(--token-cMmEx96bwumz);
  --token-JrWRH84cBBJ2: #d7faf8;
  --plasmic-token-secondary-100: var(--token-JrWRH84cBBJ2);
  --token-6IpHD5VrbKBt: #aff5f0;
  --plasmic-token-secondary-200: var(--token-6IpHD5VrbKBt);
  --token-h-rkZKSlFqLH: #87efe8;
  --plasmic-token-secondary-300: var(--token-h-rkZKSlFqLH);
  --token-yeum49ZBfpeX: #5feae1;
  --plasmic-token-secondary-400: var(--token-yeum49ZBfpeX);
  --token-SsqMGsKKW1Rx: #37e5db;
  --plasmic-token-secondary-500: var(--token-SsqMGsKKW1Rx);
  --token-swFWCZaOGffh: #24bfb5;
  --plasmic-token-secondary-600: var(--token-swFWCZaOGffh);
  --token-U56NfMWw60ye: #15968e;
  --plasmic-token-secondary-700: var(--token-U56NfMWw60ye);
  --token-scGO5eY4V-Zz: #096e67;
  --plasmic-token-secondary-800: var(--token-scGO5eY4V-Zz);
  --token-HVeP9jJ3JUMR: #014743;
  --plasmic-token-secondary-900: var(--token-HVeP9jJ3JUMR);
  --token-WEqb5sAgTEtH: #d8d8fa;
  --plasmic-token-primary-100: var(--token-WEqb5sAgTEtH);
  --token-yJqOZevNVh5l: #b0b1f4;
  --plasmic-token-primary-200: var(--token-yJqOZevNVh5l);
  --token-BoLw3h1LyV6i: #898bef;
  --plasmic-token-primary-300: var(--token-BoLw3h1LyV6i);
  --token-hW9xg3GpWBT_: #6164e9;
  --plasmic-token-primary-400: var(--token-hW9xg3GpWBT_);
  --token-7y424Whggevc: #3a3de4;
  --plasmic-token-primary-500: var(--token-7y424Whggevc);
  --token-KeCMPoweLkGC: #2225bf;
  --plasmic-token-primary-600: var(--token-KeCMPoweLkGC);
  --token-MUE0rfJbKRtk: #141696;
  --plasmic-token-primary-700: var(--token-MUE0rfJbKRtk);
  --token-JgtjoOZzWmEN: #08096e;
  --plasmic-token-primary-800: var(--token-JgtjoOZzWmEN);
  --token-kycQoNWlpWfK: #010347;
  --plasmic-token-primary-900: var(--token-kycQoNWlpWfK);
  --token-1vaBWV9sYzyW: #f2f3fd;
  --plasmic-token-primary-050: var(--token-1vaBWV9sYzyW);
  --token-yb1T5v3E3kqY: #faf6d7;
  --plasmic-token-warning-100: var(--token-yb1T5v3E3kqY);
  --token-KVjaX5dYHbAO: #f5eeaf;
  --plasmic-token-warning-200: var(--token-KVjaX5dYHbAO);
  --token-_PtYiwgqVbru: #efe587;
  --plasmic-token-warning-300: var(--token-_PtYiwgqVbru);
  --token-oqVYHNmqsjb-: #eadd5f;
  --plasmic-token-warning-400: var(--token-oqVYHNmqsjb-);
  --token-L1P1TXYYoo0B: #e5d437;
  --plasmic-token-warning-500: var(--token-L1P1TXYYoo0B);
  --token-MIph8w-e1E29: #bfb024;
  --plasmic-token-warning-600: var(--token-MIph8w-e1E29);
  --token-eW_Z-U6m9IDD: #998c15;
  --plasmic-token-warning-700: var(--token-eW_Z-U6m9IDD);
  --token-Pp1exIijSYR3: #6e6408;
  --plasmic-token-warning-800: var(--token-Pp1exIijSYR3);
  --token-KsfTu_BOU4SA: #383302;
  --plasmic-token-warning-900: var(--token-KsfTu_BOU4SA);
  --token-U4yPWavW97_A: #fad7d7;
  --plasmic-token-danger-100: var(--token-U4yPWavW97_A);
  --token-m-48VrxM4cx-: #f18787;
  --plasmic-token-danger-300: var(--token-m-48VrxM4cx-);
  --token-edE0dBpT3QRA: #f6afaf;
  --plasmic-token-danger-200: var(--token-edE0dBpT3QRA);
  --token-5Zzh86kMz6Sb: #ed6060;
  --plasmic-token-danger-400: var(--token-5Zzh86kMz6Sb);
  --token-vU_mi63mBykM: #e83838;
  --plasmic-token-danger-500: var(--token-vU_mi63mBykM);
  --token-pbzAI90EbfpA: #c22525;
  --plasmic-token-danger-600: var(--token-pbzAI90EbfpA);
  --token-293O35o7Aixr: #9c1616;
  --plasmic-token-danger-700: var(--token-293O35o7Aixr);
  --token-SDNIBvkqADG7: #6b0707;
  --plasmic-token-danger-800: var(--token-SDNIBvkqADG7);
  --token-7tt1w9eKinuA: #360202;
  --plasmic-token-danger-900: var(--token-7tt1w9eKinuA);
  --token-eSazWMhSONLf: #fdfdfd;
  --plasmic-token-neutral-0: var(--token-eSazWMhSONLf);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-0NhejqIOHhaL_font-family: "Inter", sans-serif;
  --mixin-0NhejqIOHhaL_font-size: 14px;
  --mixin-0NhejqIOHhaL_font-weight: 400;
  --mixin-0NhejqIOHhaL_font-style: normal;
  --mixin-0NhejqIOHhaL_color: var(--token-6_hHueX3aHJM);
  --mixin-0NhejqIOHhaL_text-align: left;
  --mixin-0NhejqIOHhaL_text-transform: none;
  --mixin-0NhejqIOHhaL_line-height: 21px;
  --mixin-0NhejqIOHhaL_letter-spacing: -0.6%;
  --mixin-0NhejqIOHhaL_white-space: pre-wrap;
  --mixin-0NhejqIOHhaL_user-select: text;
  --mixin-0NhejqIOHhaL_text-decoration-line: none;
  --mixin-0NhejqIOHhaL_text-overflow: clip;
  --mixin-4r_JW5pXa8gr_color: var(--token-iSB4sDWi7J33);
  --mixin-4r_JW5pXa8gr_font-weight: 600;
  --mixin-4r_JW5pXa8gr_font-size: 26px;
  --mixin-4r_JW5pXa8gr_line-height: 32px;
  --mixin-4r_JW5pXa8gr_letter-spacing: -1%;
  --mixin-4r_JW5pXa8gr_white-space: pre-wrap;
  --mixin-uqtsZ9U6QOT0_color: var(--token-iSB4sDWi7J33);
  --mixin-uqtsZ9U6QOT0_font-size: 23px;
  --mixin-uqtsZ9U6QOT0_font-weight: 700;
  --mixin-uqtsZ9U6QOT0_line-height: 28px;
  --mixin-uqtsZ9U6QOT0_font-family: "Inter", sans-serif;
  --mixin-uqtsZ9U6QOT0_letter-spacing: -1%;
  --mixin-uqtsZ9U6QOT0_white-space: pre-wrap;
  --mixin-QUibhd0TpFg__color: #0070f3;
  --mixin-QUibhd0TpFg__white-space: pre-wrap;
  --mixin-tReBy4EfY3Wa_color: var(--token-iSB4sDWi7J33);
  --mixin-tReBy4EfY3Wa_font-size: 20px;
  --mixin-tReBy4EfY3Wa_font-weight: 700;
  --mixin-tReBy4EfY3Wa_line-height: 24px;
  --mixin-tReBy4EfY3Wa_letter-spacing: -1%;
  --mixin-tReBy4EfY3Wa_font-family: "Inter", sans-serif;
  --mixin-tReBy4EfY3Wa_white-space: pre-wrap;
  --mixin-aGUEjGVJQbMO_color: var(--token-iSB4sDWi7J33);
  --mixin-aGUEjGVJQbMO_font-size: 18px;
  --mixin-aGUEjGVJQbMO_font-weight: 700;
  --mixin-aGUEjGVJQbMO_line-height: 24px;
  --mixin-aGUEjGVJQbMO_letter-spacing: -1%;
  --mixin-aGUEjGVJQbMO_font-family: "Inter", sans-serif;
  --mixin-aGUEjGVJQbMO_white-space: pre-wrap;
  --mixin-5AgKKY_p3O51_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-5AgKKY_p3O51_border-bottom-color: #dddddd;
  --mixin-5AgKKY_p3O51_border-bottom-style: solid;
  --mixin-5AgKKY_p3O51_border-bottom-width: 1px;
  --mixin-5AgKKY_p3O51_border-left-color: #dddddd;
  --mixin-5AgKKY_p3O51_border-left-style: solid;
  --mixin-5AgKKY_p3O51_border-left-width: 1px;
  --mixin-5AgKKY_p3O51_border-right-color: #dddddd;
  --mixin-5AgKKY_p3O51_border-right-style: solid;
  --mixin-5AgKKY_p3O51_border-right-width: 1px;
  --mixin-5AgKKY_p3O51_border-top-color: #dddddd;
  --mixin-5AgKKY_p3O51_border-top-style: solid;
  --mixin-5AgKKY_p3O51_border-top-width: 1px;
  --mixin-5AgKKY_p3O51_border-bottom-left-radius: 3px;
  --mixin-5AgKKY_p3O51_border-bottom-right-radius: 3px;
  --mixin-5AgKKY_p3O51_border-top-left-radius: 3px;
  --mixin-5AgKKY_p3O51_border-top-right-radius: 3px;
  --mixin-5AgKKY_p3O51_font-family: "Inconsolata";
  --mixin-5AgKKY_p3O51_padding-bottom: 1px;
  --mixin-5AgKKY_p3O51_padding-left: 4px;
  --mixin-5AgKKY_p3O51_padding-right: 4px;
  --mixin-5AgKKY_p3O51_padding-top: 1px;
  --mixin-5AgKKY_p3O51_white-space: pre-wrap;
  --mixin-THnROQ_nem--_border-left-color: #dddddd;
  --mixin-THnROQ_nem--_border-left-style: solid;
  --mixin-THnROQ_nem--_border-left-width: 3px;
  --mixin-THnROQ_nem--_color: #888888;
  --mixin-THnROQ_nem--_padding-left: 10px;
  --mixin-THnROQ_nem--_white-space: pre-wrap;
  --mixin-Wrl-PHewWgkV_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-Wrl-PHewWgkV_border-bottom-color: #dddddd;
  --mixin-Wrl-PHewWgkV_border-bottom-style: solid;
  --mixin-Wrl-PHewWgkV_border-bottom-width: 1px;
  --mixin-Wrl-PHewWgkV_border-left-color: #dddddd;
  --mixin-Wrl-PHewWgkV_border-left-style: solid;
  --mixin-Wrl-PHewWgkV_border-left-width: 1px;
  --mixin-Wrl-PHewWgkV_border-right-color: #dddddd;
  --mixin-Wrl-PHewWgkV_border-right-style: solid;
  --mixin-Wrl-PHewWgkV_border-right-width: 1px;
  --mixin-Wrl-PHewWgkV_border-top-color: #dddddd;
  --mixin-Wrl-PHewWgkV_border-top-style: solid;
  --mixin-Wrl-PHewWgkV_border-top-width: 1px;
  --mixin-Wrl-PHewWgkV_border-bottom-left-radius: 3px;
  --mixin-Wrl-PHewWgkV_border-bottom-right-radius: 3px;
  --mixin-Wrl-PHewWgkV_border-top-left-radius: 3px;
  --mixin-Wrl-PHewWgkV_border-top-right-radius: 3px;
  --mixin-Wrl-PHewWgkV_font-family: "Inconsolata";
  --mixin-Wrl-PHewWgkV_padding-bottom: 3px;
  --mixin-Wrl-PHewWgkV_padding-left: 6px;
  --mixin-Wrl-PHewWgkV_padding-right: 6px;
  --mixin-Wrl-PHewWgkV_padding-top: 3px;
  --mixin-Wrl-PHewWgkV_white-space: pre-wrap;
  --mixin-VvIxwq49T5Vm_display: flex;
  --mixin-VvIxwq49T5Vm_flex-direction: column;
  --mixin-VvIxwq49T5Vm_align-items: stretch;
  --mixin-VvIxwq49T5Vm_justify-content: flex-start;
  --mixin-VvIxwq49T5Vm_list-style-position: outside;
  --mixin-VvIxwq49T5Vm_padding-left: 40px;
  --mixin-VvIxwq49T5Vm_position: relative;
  --mixin-VvIxwq49T5Vm_list-style-type: disc;
  --mixin-VvIxwq49T5Vm_white-space: pre-wrap;
  --mixin-EO-2S-j4VscY_display: flex;
  --mixin-EO-2S-j4VscY_flex-direction: column;
  --mixin-EO-2S-j4VscY_align-items: stretch;
  --mixin-EO-2S-j4VscY_justify-content: flex-start;
  --mixin-EO-2S-j4VscY_list-style-position: outside;
  --mixin-EO-2S-j4VscY_padding-left: 40px;
  --mixin-EO-2S-j4VscY_position: relative;
  --mixin-EO-2S-j4VscY_list-style-type: decimal;
  --mixin-EO-2S-j4VscY_white-space: pre-wrap;
  --mixin-8GKMJrLRcIBl_color: var(--token-mIG78lQX6vkL);
  --mixin-8GKMJrLRcIBl_font-size: 16px;
  --mixin-8GKMJrLRcIBl_font-weight: 600;
  --mixin-8GKMJrLRcIBl_line-height: 20px;
  --mixin-8GKMJrLRcIBl_letter-spacing: -1%;
  --mixin-8GKMJrLRcIBl_font-family: "Inter", sans-serif;
  --mixin-8GKMJrLRcIBl_white-space: pre-wrap;
  --mixin-hBGJu6oOShFA_color: var(--token-iSB4sDWi7J33);
  --mixin-hBGJu6oOShFA_font-size: 14px;
  --mixin-hBGJu6oOShFA_font-weight: 600;
  --mixin-hBGJu6oOShFA_line-height: 20px;
  --mixin-hBGJu6oOShFA_letter-spacing: 1%;
  --mixin-hBGJu6oOShFA_font-family: "Inter", sans-serif;
  --mixin-hBGJu6oOShFA_white-space: pre-wrap;
  --mixin-K89FhYyKeVbz_color: #3291ff;
  --mixin-K89FhYyKeVbz_white-space: pre-wrap;
  --mixin-F-zu_ZeEU1c8_white-space: pre-wrap;
  --mixin-E74Ox_WhxTKh_color: var(--token-Hr_KNEfib53W);
  --mixin-E74Ox_WhxTKh_font-family: "Inter", sans-serif;
  --mixin-E74Ox_WhxTKh_font-weight: 500;
  --mixin-E74Ox_WhxTKh_font-size: 16px;
  --mixin-E74Ox_WhxTKh_line-height: 24px;
  --mixin-E74Ox_WhxTKh_white-space: pre-wrap;
}

.plasmic_mixins {
  --mixin-BOevn7CkAHiD_white-space: pre-wrap;
  --plasmic-mixin-label-m_white-space: var(--mixin-BOevn7CkAHiD_white-space);
  --mixin-TNKG5SGkkp5x_white-space: pre-wrap;
  --plasmic-mixin-label-s_white-space: var(--mixin-TNKG5SGkkp5x_white-space);
  --mixin-LdMPwLKQa0lH_box-shadow: 0px 12px 12px -6px #00000029,
    0px 0px 1px 0px #00000066;
  --plasmic-mixin-card-shadow_box-shadow: var(--mixin-LdMPwLKQa0lH_box-shadow);
  --mixin-LdMPwLKQa0lH_white-space: pre-wrap;
  --plasmic-mixin-card-shadow_white-space: var(
    --mixin-LdMPwLKQa0lH_white-space
  );
  --mixin-wAv6tEV8Rjvq_white-space: pre-wrap;
  --plasmic-mixin-label-l_white-space: var(--mixin-wAv6tEV8Rjvq_white-space);
  --mixin-sSGrr6rlCNj3_white-space: pre-wrap;
  --plasmic-mixin-l-heading_white-space: var(--mixin-sSGrr6rlCNj3_white-space);
  --mixin-bdzgcuNPN1bJ_box-shadow: 0px 0px 4px 0px #0000001a,
    0px 4px 16px 0px #00000033;
  --plasmic-mixin-card-component-shadow_box-shadow: var(
    --mixin-bdzgcuNPN1bJ_box-shadow
  );
  --mixin-bdzgcuNPN1bJ_white-space: pre-wrap;
  --plasmic-mixin-card-component-shadow_white-space: var(
    --mixin-bdzgcuNPN1bJ_white-space
  );
  --mixin-io9jzkmD2LkE_white-space: pre-wrap;
  --plasmic-mixin-body_white-space: var(--mixin-io9jzkmD2LkE_white-space);
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-0NhejqIOHhaL_font-family);
  font-size: var(--mixin-0NhejqIOHhaL_font-size);
  font-weight: var(--mixin-0NhejqIOHhaL_font-weight);
  font-style: var(--mixin-0NhejqIOHhaL_font-style);
  color: var(--mixin-0NhejqIOHhaL_color);
  text-align: var(--mixin-0NhejqIOHhaL_text-align);
  text-transform: var(--mixin-0NhejqIOHhaL_text-transform);
  line-height: var(--mixin-0NhejqIOHhaL_line-height);
  letter-spacing: var(--mixin-0NhejqIOHhaL_letter-spacing);
  white-space: var(--mixin-0NhejqIOHhaL_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-4r_JW5pXa8gr_color);
  font-weight: var(--mixin-4r_JW5pXa8gr_font-weight);
  font-size: var(--mixin-4r_JW5pXa8gr_font-size);
  line-height: var(--mixin-4r_JW5pXa8gr_line-height);
  letter-spacing: var(--mixin-4r_JW5pXa8gr_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-uqtsZ9U6QOT0_color);
  font-size: var(--mixin-uqtsZ9U6QOT0_font-size);
  font-weight: var(--mixin-uqtsZ9U6QOT0_font-weight);
  line-height: var(--mixin-uqtsZ9U6QOT0_line-height);
  font-family: var(--mixin-uqtsZ9U6QOT0_font-family);
  letter-spacing: var(--mixin-uqtsZ9U6QOT0_letter-spacing);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-QUibhd0TpFg__color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-tReBy4EfY3Wa_color);
  font-size: var(--mixin-tReBy4EfY3Wa_font-size);
  font-weight: var(--mixin-tReBy4EfY3Wa_font-weight);
  line-height: var(--mixin-tReBy4EfY3Wa_line-height);
  letter-spacing: var(--mixin-tReBy4EfY3Wa_letter-spacing);
  font-family: var(--mixin-tReBy4EfY3Wa_font-family);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-aGUEjGVJQbMO_color);
  font-size: var(--mixin-aGUEjGVJQbMO_font-size);
  font-weight: var(--mixin-aGUEjGVJQbMO_font-weight);
  line-height: var(--mixin-aGUEjGVJQbMO_line-height);
  letter-spacing: var(--mixin-aGUEjGVJQbMO_letter-spacing);
  font-family: var(--mixin-aGUEjGVJQbMO_font-family);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-5AgKKY_p3O51_font-family);
  border-radius: var(--mixin-5AgKKY_p3O51_border-top-left-radius)
    var(--mixin-5AgKKY_p3O51_border-top-right-radius)
    var(--mixin-5AgKKY_p3O51_border-bottom-right-radius)
    var(--mixin-5AgKKY_p3O51_border-bottom-left-radius);
  padding: var(--mixin-5AgKKY_p3O51_padding-top)
    var(--mixin-5AgKKY_p3O51_padding-right)
    var(--mixin-5AgKKY_p3O51_padding-bottom)
    var(--mixin-5AgKKY_p3O51_padding-left);
  border-top: var(--mixin-5AgKKY_p3O51_border-top-width)
    var(--mixin-5AgKKY_p3O51_border-top-style)
    var(--mixin-5AgKKY_p3O51_border-top-color);
  border-right: var(--mixin-5AgKKY_p3O51_border-right-width)
    var(--mixin-5AgKKY_p3O51_border-right-style)
    var(--mixin-5AgKKY_p3O51_border-right-color);
  border-bottom: var(--mixin-5AgKKY_p3O51_border-bottom-width)
    var(--mixin-5AgKKY_p3O51_border-bottom-style)
    var(--mixin-5AgKKY_p3O51_border-bottom-color);
  border-left: var(--mixin-5AgKKY_p3O51_border-left-width)
    var(--mixin-5AgKKY_p3O51_border-left-style)
    var(--mixin-5AgKKY_p3O51_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-THnROQ_nem--_color);
  padding-left: var(--mixin-THnROQ_nem--_padding-left);
  border-left: var(--mixin-THnROQ_nem--_border-left-width)
    var(--mixin-THnROQ_nem--_border-left-style)
    var(--mixin-THnROQ_nem--_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-Wrl-PHewWgkV_font-family);
  border-radius: var(--mixin-Wrl-PHewWgkV_border-top-left-radius)
    var(--mixin-Wrl-PHewWgkV_border-top-right-radius)
    var(--mixin-Wrl-PHewWgkV_border-bottom-right-radius)
    var(--mixin-Wrl-PHewWgkV_border-bottom-left-radius);
  padding: var(--mixin-Wrl-PHewWgkV_padding-top)
    var(--mixin-Wrl-PHewWgkV_padding-right)
    var(--mixin-Wrl-PHewWgkV_padding-bottom)
    var(--mixin-Wrl-PHewWgkV_padding-left);
  border-top: var(--mixin-Wrl-PHewWgkV_border-top-width)
    var(--mixin-Wrl-PHewWgkV_border-top-style)
    var(--mixin-Wrl-PHewWgkV_border-top-color);
  border-right: var(--mixin-Wrl-PHewWgkV_border-right-width)
    var(--mixin-Wrl-PHewWgkV_border-right-style)
    var(--mixin-Wrl-PHewWgkV_border-right-color);
  border-bottom: var(--mixin-Wrl-PHewWgkV_border-bottom-width)
    var(--mixin-Wrl-PHewWgkV_border-bottom-style)
    var(--mixin-Wrl-PHewWgkV_border-bottom-color);
  border-left: var(--mixin-Wrl-PHewWgkV_border-left-width)
    var(--mixin-Wrl-PHewWgkV_border-left-style)
    var(--mixin-Wrl-PHewWgkV_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-VvIxwq49T5Vm_display);
  flex-direction: var(--mixin-VvIxwq49T5Vm_flex-direction);
  align-items: var(--mixin-VvIxwq49T5Vm_align-items);
  justify-content: var(--mixin-VvIxwq49T5Vm_justify-content);
  list-style-position: var(--mixin-VvIxwq49T5Vm_list-style-position);
  padding-left: var(--mixin-VvIxwq49T5Vm_padding-left);
  position: var(--mixin-VvIxwq49T5Vm_position);
  list-style-type: var(--mixin-VvIxwq49T5Vm_list-style-type);
  flex-column-gap: var(--mixin-VvIxwq49T5Vm_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-EO-2S-j4VscY_display);
  flex-direction: var(--mixin-EO-2S-j4VscY_flex-direction);
  align-items: var(--mixin-EO-2S-j4VscY_align-items);
  justify-content: var(--mixin-EO-2S-j4VscY_justify-content);
  list-style-position: var(--mixin-EO-2S-j4VscY_list-style-position);
  padding-left: var(--mixin-EO-2S-j4VscY_padding-left);
  position: var(--mixin-EO-2S-j4VscY_position);
  list-style-type: var(--mixin-EO-2S-j4VscY_list-style-type);
  flex-column-gap: var(--mixin-EO-2S-j4VscY_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-8GKMJrLRcIBl_color);
  font-size: var(--mixin-8GKMJrLRcIBl_font-size);
  font-weight: var(--mixin-8GKMJrLRcIBl_font-weight);
  line-height: var(--mixin-8GKMJrLRcIBl_line-height);
  letter-spacing: var(--mixin-8GKMJrLRcIBl_letter-spacing);
  font-family: var(--mixin-8GKMJrLRcIBl_font-family);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-hBGJu6oOShFA_color);
  font-size: var(--mixin-hBGJu6oOShFA_font-size);
  font-weight: var(--mixin-hBGJu6oOShFA_font-weight);
  line-height: var(--mixin-hBGJu6oOShFA_line-height);
  letter-spacing: var(--mixin-hBGJu6oOShFA_letter-spacing);
  font-family: var(--mixin-hBGJu6oOShFA_font-family);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-K89FhYyKeVbz_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
  color: var(--mixin-E74Ox_WhxTKh_color);
  font-family: var(--mixin-E74Ox_WhxTKh_font-family);
  font-weight: var(--mixin-E74Ox_WhxTKh_font-weight);
  font-size: var(--mixin-E74Ox_WhxTKh_font-size);
  line-height: var(--mixin-E74Ox_WhxTKh_line-height);
}
